#mapid {
    height: 100vh;
}

body {
    margin: 0px;
    background-color: white;
}

.leaflet-container {
    background: white;
}

.marker-cluster-small div {
    background-color: #e7e1ef;
}

.marker-cluster-medium div {
    background-color: #c994c7;
}

.marker-cluster-large div {
    background-color: #dd1c77;
}

.marker-cluster-small {
	background-color:  rgba(231,225,239, 0.6);
}

.marker-cluster-medium {
	background-color:   rgba(201,148,199, 0.6);
}

.marker-cluster-large {
	background-color:  rgba(221,28,119, 0.6);
}

#mapid .leaflet-layer {
     filter: brightness(110%) grayscale(90%)  ;

}