@import url('./node_modules/leaflet/dist/leaflet.css');
/* @import url('./fonts/RobotoCondensed-Bold.ttf');
@import url('./fonts/RobotoCondensed-Regular.ttf');
@import url('./fonts/RobotoCondensed-BoldItalic.ttf'); */

@import "./node_modules/font-awesome/css/font-awesome.min.css";
@import './node_modules/pretty-checkbox/dist/pretty-checkbox.min.css';
@font-face {
    font-family: "Roboto Condensed";
    src: url("./fonts/Roboto-Bold.ttf");
    src: url("./fonts/Roboto-Italic.ttf");
    src: url("./fonts/Roboto-Regular.ttf");
}

#mapid {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

body {
    margin: 0px;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}

.marker-cluster-small {
    background-color: rgba(231, 225, 239, 0.6);
    /* background-color: black; */
    size: 1em;
}

.marker-cluster-medium {
    background-color: rgba(201, 148, 199, 0.6);
}

.marker-cluster-large {
    background-color: #dd1c7799;
}

.marker-cluster-small div, .marker-cluster-small.legend-item {
    background-color: #e7e1ef;
}

.marker-cluster-medium div, .marker-cluster-medium.legend-item {
    background-color: #c994c7;
}

.marker-cluster-large div, .marker-cluster-large.legend-item {
    background-color: #dd1c77;
}

.leaflet-control-command-interior {
    width: 70vw;
    max-width: 500px;
    float: right;
    right: 0;
    background-repeat: no-repeat;
    padding: 3px;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
}

.leaflet-control-command-interior:hover {
    background-color: #F4F4F4;
}

@media only screen and (max-width: 600px) {
    .leaflet-control-command-interior {
        display: none
    }
}

.legend-item {
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    border-radius: 1em;
}

.legend-div {
    margin-right: 0.5em;
    display: inline-block;
}

.leaflet-layer.dark {
    -webkit-filter: grayscale(100%) invert(85%);
    -ms-filter: grayscale(100%) invert(85%);
    -o-filter: grayscale(100%) invert(85%);
    -moz-filter: grayscale(100%) invert(85%);
    filter: grayscale(100%) invert(85%);
}

.leaflet-layer.light {
    filter: grayscale();
}

body.light, .leaflet-container.light {
    background: #F0F0F0 none repeat scroll 0% 0%;
}

body.dark, .leaflet-container.dark {
    background: #303030 none repeat scroll 0% 0%;
}

:root {
    --class-1: rgba(254, 235, 226, 1);
    --class-1-trans: rgba(254, 235, 226, 0.6);
    --class-2: rgba(252, 197, 192, 1);
    --class-2-trans: rgba(252, 197, 192, 0.6);
    --class-3-trans: rgba(250, 159, 181, 0.6);
    --class-3: rgba(250, 159, 181, 1);
    --class-4-trans: rgba(247, 104, 161, 0.6);
    --class-4: rgba(247, 104, 161, 1);
    --class-5-trans: rgba(221, 52, 151, 0.6);
    --class-5: rgba(221, 52, 151, 1);
    --class-6-trans: rgba(174, 1, 126, 0.6);
    --class-6: rgba(174, 1, 126, 1);
    --class-7-trans: rgba(122, 1, 119, 0.6);
    --class-7: rgba(122, 1, 119, 1);
}

.marker-cluster-1 {
    background-color: var(--class-1-trans);
}

.marker-cluster-1 div {
    background-color: var(--class-1);
}

.marker-cluster-2 {
    background-color: var(--class-2-trans);
}

.marker-cluster-2 div {
    background-color: var(--class-2);
}

.marker-cluster-3 {
    background-color: var(--class-3-trans);
}

.marker-cluster-3 div {
    background-color: var(--class-3);
}

.marker-cluster-4 {
    background-color: var(--class-4-trans);
}

.marker-cluster-4 div {
    background-color: var(--class-4);
}

.marker-cluster-5 {
    background-color: var(--class-5-trans);
}

.marker-cluster-5 div {
    background-color: var(--class-5);
}

.marker-cluster-6 {
    background-color: var(--class-6-trans);
}

.marker-cluster-6 div {
    background-color: var(--class-6);
}

.marker-cluster-7 {
    background-color: var(--class-7-trans);
}

.marker-cluster-7 div {
    background-color: var(--class-7);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 30px;
}

svg {
    margin: auto;
}

.leaflet-control-command-interior, .leaflet-popup-content-wrapper {
    border-radius: 0px;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
    will-change: auto;
}

.leaflet-control-command-interior.show {
    display: block;
}

.easy-button-button {
    display: none;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .leaflet-control-command {
        bottom: 0px;
    }
    .leaflet-control-command-interior {
        display: block;
    }
    .leaflet-right .leaflet-control .no-margin, .leaflet-bottom .leaflet-control {
        margin: 0px;
    }
    .leaflet-control-command-interior {
        width: 100vw;
        max-width: 100vw;
    }
    .mobile {
        display: block;
    }
    .full {
        display: none;
    }
    .leaflet-control-attribution.show {
        width: 100vw;
        background-color: white;
        padding: unset;
    }
    #radioDiv {
        padding-bottom: .5em;
    }
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-control-attribution.show {
    display: block;
}

#btnAtt {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: unset;
    text-align: center;
    vertical-align: bottom;
    padding-left: 6px;
    padding-right: 6px;
}